:root {
  --primary-color: #6003C3;
  --white: #FFFFFF;
  --box-color-1: #FCFF00;
  --box-color-2: #57FFC9;
  --box-color-3: #A5FF01;
}

body {
  font-family: 'Bebas Neue', Impact, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  background: #6003C3;
  color: #FFFFFF;
  font-size: 5rem;
  text-align: center;
}

p {
  text-align: center;
  font-size: 2rem;
  padding: 2rem;
  color: #6003C3;
}

.boxes {
  font-size: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

#box-1 {
  height: 10rem;
  width: 10rem;
  background-color: #FCFF00;
  color: #6003C3;
  padding: .5rem;
  border: solid 1rem #6003C3;
  margin: 1rem;
  border-radius: 1rem;
}

#box-2 {
  height: 10rem;
  width: 10rem;
  background-color: #57FFC9;
  color: #6003C3;
  padding: .5rem;
  border: solid 1rem  #6003C3;
  margin: 1rem;
  border-radius: 1rem;
}

#box-3 {
  height: 10rem;
  width: 10rem;
  background-color: #A5FF01;
  color: #6003C3;
  padding: .5rem;
  border: solid 1rem  #6003C3;
  margin: 1rem;
  border-radius: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.score {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #6003C3;
}
/*===========================

Responsive Web Coding - 768px by 1024px (Tablet)

===========================*/

@media screen and (min-width: 768px) {
  h1 {
    font-size: 11rem;
  }

  p {
    font-size: 3.2rem;
  }

  .boxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  .score {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #wins {
    padding: 1rem;
  }

  #losses {
    padding: 1rem;
  }
}

/*===========================

Responsive Web Coding - 1024px by 768px (Laptop)

===========================*/

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 14rem;
  }

  #box-1 {
    height: 15rem;
    width: 15rem;
  }

  #box-2 {
    height: 15rem;
    width: 15rem;
  }

  #box-3 {
    height: 15rem;
    width: 15rem;
  }

  .boxes {
    font-size: 10rem;
    justify-content: space-around;
  }
}

/*===========================

Responsive Web Coding - 2560px by 1440px (Desktop)

===========================*/

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 19rem;
  }
  p {
    font-size: 4rem;
  }

  #box-1 {
    height: 17rem;
    width: 17rem;
  }

  #box-2 {
    height: 17rem;
    width: 17rem;
  }

  #box-3 {
    height: 17rem;
    width: 17rem;
  }

  .boxes {
    font-size: 11rem;
  }

  .score {
    font-size: 4rem;
  }
}
